body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.game-container {
    zoom: 1;
    transform-origin: top left;
    width: 100vw;
    height: 100vh;
}

.card {
    position: absolute;
    width: 242px;
    height: 340px;
    background-image: url('../img/cards.png');
    background-position: -0px -0px;
    transform: translateX(-50%) scale(0.75);
    transition: bottom 0.6s ease, left 0.6s ease, transform-origin 0.3s ease, filter 0.2s ease, transform 0.2s ease;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
}

.selected {
    filter: drop-shadow(0px 0px 10px rgb(255, 0, 0));
    transform: translateX(-50%) translateY(-15%) scale(0.75);
}

.playButton {
    background-color: darkgrey;
    position: absolute;
    transform-origin: center bottom;
    transform: translateX(-50%) translateY(-320px);
    width: 145px;
    height: 45px;
    transition: bottom 0.6s ease, left 0.6s ease, transform-origin 0.3s ease, filter 0.2s ease, transform 0.2s ease;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
    color: rgb(31, 30, 30);
    font-weight: bold;
    font-size: 22px;
}

.playable {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.condition-wheel-container {
    position: absolute;
    top: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.condition-text {
    justify-content: center;
    max-width: 300px;
    font-size: 25px;
}

.score-text {
    position: absolute;
    top: 15px;
    left: 50%;
    font-size: 30px;
    transform: translateX(-50%) translateY(-100%);
}

.feedback-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 25px;
}

.help-button {
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 25px;
    padding: 5px;
    width: 100px;
    border-radius: 15px;
    background-color: #b34949;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.spin-button {
    font-size: 25px;
    padding: 5px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #4CAF50;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.wheel-text {
    font-size: 35px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 10px;
}